@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;800&family=Oswald&family=Poppins:wght@400;600&family=Roboto&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f8f9fa;
}

.header {
  width: 100%;
}

.nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 40px;
  transition: 0.3s linear;
}

.nav_list ul {
  display: flex;
}

.nav_list ul li {
  padding: 1em;
  font-size: 1.2rem;
}

.nav_list ul li a {
  color: #6c757d;
  transition: 0.3s ease;
}
.nav_list ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  transition: 0.3s ease;
}

.nav_list ul li a:hover {
  color: var(--Soft-red);
}

.nav_list ul li a:hover::after {
  width: 100%;
}

.nav .close {
  display: none;
  fill: white;
}

.nav .open {
  display: none;
}

.main {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main img {
  width: 100%;
}

.main .bottom_row {
  padding-top: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.main .bottom_row h1 {
  width: 45%;
  font-family: "arial";
  font-size: 4rem;
  font-weight: 800;
  line-height: 0.9em;
}

.main .bottom_row .box {
  width: 40%;
  text-align: left;
}

.main .bottom_row .box p {
  font-family: "poppins";
  font-size: 1.1rem;
  padding: 0 0 2em 0;
}

.main .bottom_row .box a {
  font-family: "poppins";
  color: white;
  letter-spacing: 0.3em;
  display: inline-block;
  padding: 0.7em 2.2em;
  background-color: var(--Soft-red);
}

.main .bottom_row .box a:hover {
  background-color: black;
}

.main .main_right {
  margin-left: 1em;
  width: 100%;
  background-color: black;
}

.main .main_right h1 {
  font-size: 2.5rem;
  padding: 0.9em 0.75em 0.2em;
  color: var(--Soft-orange);
}

.main .main_right .text-box {
  font-size: 1rem;
  padding: 1.5em 1.875em;
  color: white;
  text-align: left;
}

.main .main_right .text-box h3 {
  font-size: 1.4rem;
  padding: 0.5em 0;
}

.main .main_right .text-box a {
  color: white;
}

.main .main_right .text-box a:hover {
  cursor: pointer;
  color: var(--Soft-orange);
}

.main .main_right .text-box p {
  color: #c1cad3;
  line-height: 1.8em;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main .main_right hr {
  width: 80%;
  border: none;
  border-bottom: 1px solid #c1cad3;
  margin: auto;
}

.row1 {
  padding-top: 50px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row1 .post img {
  width: 100px;
  margin-right: 1.25em;
}

.row1 .post {
  display: flex;
  width: 350px;
}

.row1 .post .text-box h1 {
  font-size: 2rem;
  font-family: "oswald";
  font-weight: 800;
  color: #c4c6c9;
}

.row1 .post .text-box h3 {
  padding: 0.35em 0;
}

.row1 .post .text-box a {
  font-family: "poppins";
  font-weight: 600;
  padding: 1em 0;
  color: black;
}

.row1 .post .text-box a:hover {
  color: hsl(5, 85%, 63%);
}

.row1 .post .text-box p {
  font-family: "poppins";
  font-size: 0.9rem;
  color: #73787c;
}

@media screen and (min-width: 100px) and (max-width: 1600px) {
  .header {
    width: 90%;
    margin: auto;
  }
  .nav {
    width: 90%;
    margin: 0;
  }

  .nav img {
    margin: 1.5em;
  }

  .nav_list {
    display: none;
  }
  .nav_list ul {
    flex-direction: column;
  }

  .main {
    width: 100%;
    flex-direction: column;
  }
  .main .left_main {
    width: 90%;
    margin: auto;
  }

  .main img {
    width: 100%;
  }

  .main .bottom_row {
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 1em 0 2em;
  }

  .main .bottom_row h1 {
    width: 100%;
  }

  .main .bottom_row .box {
    width: 100%;
    text-align: left;
  }

  .main .bottom_row h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 1em;
  }

  .main .bottom_row .box p {
    padding: 1em 0;
  }

  .main .main_right {
    width: 90%;
    margin: auto;
  }

  .row1 {
    width: 90%;
    flex-direction: column;
    margin: auto;
  }

  .row1 .post {
    width: 100%;
    margin: 1em 0;
  }

  .nav .close {
    display: none;
    fill: white;
  }

  .nav .open {
    display: none;
  }
}

@media screen and (min-width: 460px) and (max-width: 550px) {
  .main .main_right hr {
    width: 85%;
  }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
  .main .main_right hr {
    width: 90%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .main .main_right hr {
    width: 92%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .main .main_right hr {
    width: 95%;
  }
}

@media screen and (min-width: 100px) and (max-width: 780px) {
  .header {
    width: 100%;
  }

  .nav {
    width: 100%;
    position: relative;
    transition: 0.3s linear;
  }

  .nav_list {
    text-align: left;
    display: none;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 2;
    padding: 2em;
  }

  .nav_list ul li a {
    color: black;
  }

  .nav .open {
    display: block;
    color: white;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav .close {
    display: none;
    color: white;
    z-index: 3;
  }
}

@media screen and (min-width: 780px) and (max-width: 1600px) {
  .nav {
    width: 100%;
    margin: auto;
  }
  .nav_list {
    display: block;
  }

  .nav_list ul {
    flex-direction: row;
    text-align: right;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1660px) {
  .main .main_right .text-box {
    font-size: 1rem;
    padding: 0.7em 1.875em;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .main .bottom_row h1 {
    font-size: 3.6rem;
  }
}
